<%= jquery do %>
Gws_Discussion_Thread.render(<%= @cur_user.id %>);
<% if @cur_site.discussion_unseen_interval.present? %>
Gws_Discussion_Unseen.renderUnseen(
  "<%= gws_discussion_apis_unseen_path(id: @forum.id) %>",
  <%= @cur_site.discussion_unseen_interval %>,
  <%= @forum.descendants_updated.to_i %>
);
<% end %>
<% end %>

<h2 class="main-title"><%= @forum.name %></h2>

<p class="gws-discussion-unseen" style="display: none;">
  <%= link_to t("gws/discussion.notice.reload"), { action: :index } %>
</p>

<%= paginate @items if @items.try(:current_page) %>

<div class="gws-discussion gws-discussion-thread">
  <div class="addon-view gws-discussion-navi-item">
    <div class="addon-head"><h2><%= t('gws/discussion.topics') %></h2></div>
    <div class="addon-body">
      <ul class="list-items">
        <% @items.each do |item| %>
          <li class="list-item">
            <% if forum = item.forum %>
              <nav class="tap-menu">
                <% if item.allowed?(:edit, @cur_user, site: @cur_site) %>
                  <%= link_to t('ss.links.edit'), edit_gws_discussion_forum_topic_path(forum_id: @forum.id, id: item.id) %>
                <% end %>
                <% if item.allowed?(:edit, @cur_user, site: @cur_site) %>
                  <%= link_to t('ss.links.copy'), copy_gws_discussion_forum_topic_path(forum_id: @forum.id, id: item.id) %>
                <% end %>
                <% if item.allowed?(:delete, @cur_user, site: @cur_site) %>
                  <%= link_to t('ss.links.delete'), delete_gws_discussion_forum_topic_path(forum_id: @forum.id, id: item.id) %>
                <% end %>
              </nav>
            <% end %>
            <div class="info">
              <% if item.new_flag? %><span class="gws-board-flag-new"></span><% end %>
              <%= link_to item.name, gws_discussion_forum_topic_comments_path(forum_id: item.forum_id, topic_id: item.id, anchor: "comment-#{item.id}"), class: "title" %>
              <div class="meta">
                <span class="id">#<%= item.id %></span>
                <span class="datetime"><%= item.updated.strftime("%Y/%m/%d %H:%M") %></span>
                <span class="user"><%= item.user.try(:name) %></span>
                <% recent = item.children.reorder(id: -1).first %>
                <span class="summary"><%= (recent || item).text.truncate(40) %></span>
              </div>
            </div>
          </li>
        <% end %>

        <% if @items.blank? %>
          <li class="list-item">
            <%= t("gws/discussion.notice.no_topics") %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= paginate @items if @items.try(:current_page) %>
</div>

<div class="gws-discussion-navi">
  <% if @cur_user.gws_role_permit_any?(@cur_site, :use_private_gws_schedule_todos) %>
    <%= render "todo", head: t("gws/schedule.tabs.my_todo"), css_class: %w(gws-discussion-navi-item my-todo), todos: @todos %>
    <%= render "todo", head: t("gws/schedule.tabs.manageable_todo"), css_class: %w(gws-discussion-navi-item manageable-todo), todos: @manageable_todos %>
  <% end %>

  <%= render "ss/crud/addon", addon: { head: t("gws/discussion.members"), toggle: true } do %>
    <% @forum.discussion_members.each do |member| %>
      <p><%= member.long_name %></p>
    <% end %>
  <% end %>

  <% if quota = @forum.forum_quota_model %>
    <%= render "ss/crud/addon", addon: { head: t('ss.quota'), toggle: true } do %>
      <div class="ss-quota-bar">
        <div class="label"><%= quota.label %></div>
        <div class="usage <%= quota.over? ? 'over-threshold' : '' %>" style="width: <%= quota.percentage %>%"></div>
      </div>
    <% end %>
  <% end %>
</div>
